@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "fonts";
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://unpkg.com/charts.css/dist/charts.min.css');

// Typography
$montserrat: 'Montserrat', sans-serif;

// Body
$body-bg: #f8fafc;


// Colors
$blue: #0044D2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #E20067;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #3f3f3f;
$white: #ffffff;
$fiolet: #152633;
$gbutton: #D6D6D6;
$black: #000000;
$quiz: #212529;

// Breakpoints
$xs:            480px;
$sm:            640px;
$md:            768px;
$mdx:            992px;
$lg:            1024px;
$xl:            1366px;
